
html{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    position: relative;
    overflow-x: hidden; 
    
    // scroll-behavior: smooth;
}
body{
    // cursor: url("../images/icons/circle.svg"), auto;
    font-family: 'Lato', sans-serif;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
// .container-fluid {
//     max-width: 2040px;
//     margin: 0 auto;
//     // padding: 0 15px;
//     width: 100%;
// }
.container{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    // border-left: 1px dotted red;
    // border-right: 1px dotted red;
   
}
main{
    background-color: #fff;
    background: url(../images/content/stars-bg2.svg) no-repeat top center / cover;
    z-index: 1;
}

nav{
    display: block;
    font-family: 'Lato', sans-serif;
    // color: aqua;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    background-color: transparent;
}
a, label{
    -webkit-tap-highlight-color: transparent;
}
img {
    display: block;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
input[type=text], input[type=submit], textarea{
	-webkit-appearance: none;
}
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;

}
input,
select,
textarea{
    outline: none;
    cursor: pointer;
    border-radius: 0px;
    resize: none;
    font-family: 'Lato', sans-serif;
}
a,
button:focus,
select:focus,
img:focus {
	box-shadow: none;
    outline: none;
    border: none;
}

button:not(:disabled) {
    cursor: pointer;
    outline: none;
    border: none;
}
h1{
    font-family: 'WildernessTypeface-Regular';
    font-size: 200px;
    font-weight: 700;
}
h2{
    font-family: 'Dancing Script', cursive;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
}
h3{
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    text-transform: uppercase;
}
h4{
    font-size: 28px;
    letter-spacing: 0.02em;
}
h5{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height:100%;
}
.content{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto; 
    font-family: 'Lato', sans-serif;
}
.works{
    .heading{
        padding-left: 125px;
        max-width: 500px;
    }
}

// HEADLINE ANIMATION
%title-animation{
path{
	stroke:#f9f9f9;
	fill: #194052;
	stroke-dasharray: 2000;
	opacity: 10;
	animation: animate 4s infinite cubic-bezier(0,0.23,1,.1); 
	// animation-iteration-count: 1;
}
@keyframes animate{
	0% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 2000;
	}
	30%{
		opacity: 10;
		fill: none;
		stroke-dashoffset: 2000;
	}
	80% {
		fill: #194052;
	}
	100% {
		opacity: 10;
		fill: #194052;
		stroke-dashoffset: 0;
	}
}
}
// slider animation
@keyframes linkAnim{
    from{
        background-color: $color-decor;
    }
    50%{
        transform: translateX(-70%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        background-color: $color-decor;
        opacity: 1;
    }
}
@keyframes linkAnimSmall{
    from{
        background-color: $color-decor;
    }
    50%{
        transform: translateX(-120%);
        opacity: 0;
    }
    to{
        transform: translateX(0%);
        background-color: $color-decor;
        opacity: 1;
    }
}
/*-----Preloader: Start-----*/

#page-preloader {
	position: fixed;
	bottom: 0;
	background: #fff;
	z-index: 100500;
	left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.cssload-triangles {
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	height: 79px;
	width: 88px;
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
}

.cssload-tri {
	position: absolute;
	animation: cssload-pulse 862.5ms ease-in infinite;
		-o-animation: cssload-pulse 862.5ms ease-in infinite;
		-ms-animation: cssload-pulse 862.5ms ease-in infinite;
		-webkit-animation: cssload-pulse 862.5ms ease-in infinite;
		-moz-animation: cssload-pulse 862.5ms ease-in infinite;
	border-top: 26px solid rgb(33,90,109);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 0px;
}
.cssload-tri.cssload-invert {
	border-top: 0px;
	border-bottom: 26px solid rgb(33,90,109);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}
.cssload-tri:nth-child(1) {
	left: 29px;
}
.cssload-tri:nth-child(2) {
	left: 15px;
	top: 26px;
	animation-delay: -143.75ms;
		-o-animation-delay: -143.75ms;
		-ms-animation-delay: -143.75ms;
		-webkit-animation-delay: -143.75ms;
		-moz-animation-delay: -143.75ms;
}
.cssload-tri:nth-child(3) {
	left: 29px;
	top: 26px;
}
.cssload-tri:nth-child(4) {
	left: 44px;
	top: 26px;
	animation-delay: -718.75ms;
		-o-animation-delay: -718.75ms;
		-ms-animation-delay: -718.75ms;
		-webkit-animation-delay: -718.75ms;
		-moz-animation-delay: -718.75ms;
}
.cssload-tri:nth-child(5) {
	top: 53px;
	animation-delay: -287.5ms;
		-o-animation-delay: -287.5ms;
		-ms-animation-delay: -287.5ms;
		-webkit-animation-delay: -287.5ms;
		-moz-animation-delay: -287.5ms;
}
.cssload-tri:nth-child(6) {
	top: 53px;
	left: 15px;
	animation-delay: -287.5ms;
		-o-animation-delay: -287.5ms;
		-ms-animation-delay: -287.5ms;
		-webkit-animation-delay: -287.5ms;
		-moz-animation-delay: -287.5ms;
}
.cssload-tri:nth-child(7) {
	top: 53px;
	left: 29px;
	animation-delay: -431.25ms;
		-o-animation-delay: -431.25ms;
		-ms-animation-delay: -431.25ms;
		-webkit-animation-delay: -431.25ms;
		-moz-animation-delay: -431.25ms;
}
.cssload-tri:nth-child(8) {
	top: 53px;
	left: 44px;
	animation-delay: -575ms;
		-o-animation-delay: -575ms;
		-ms-animation-delay: -575ms;
		-webkit-animation-delay: -575ms;
		-moz-animation-delay: -575ms;
}
.cssload-tri:nth-child(9) {
	top: 53px;
	left: 58px;
	animation-delay: -575ms;
		-o-animation-delay: -575ms;
		-ms-animation-delay: -575ms;
		-webkit-animation-delay: -575ms;
		-moz-animation-delay: -575ms;
}


@keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-o-keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-ms-keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-webkit-keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@-moz-keyframes cssload-pulse {
	0% {
		opacity: 1;
	}
	16.666% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
/*-----Preloader: Finish-----*/	