
html{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    position: relative;
    overflow-x: hidden; 
    
    // scroll-behavior: smooth;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
// .container-fluid {
//     max-width: 2040px;
//     margin: 0 auto;
//     // padding: 0 15px;
//     width: 100%;
// }
.container{
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    border-left: 1px dotted red;
    border-right: 1px dotted red;
   
}
main{
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    background: url(../images/content/stars-bg2.svg) no-repeat center center / cover;
}

nav{
    display: block;
    font-family: 'Lato', sans-serif;
    color: aqua;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    background-color: transparent;
}
a, label{
    -webkit-tap-highlight-color: transparent;
}
img {
    display: block;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
input[type=text], input[type=submit], textarea{
	-webkit-appearance: none;
}
.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;

}
input,
select,
textarea{
    outline: none;
    cursor: pointer;
    border-radius: 0px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
}
a,
button:focus,
select:focus {
	box-shadow: none;
    outline: none;
    border: none;
}

button:not(:disabled) {
    cursor: pointer;
    outline: none;
    border: none;
}
h1{
    font-family: 'WildernessTypeface-Regular';
    font-size: 200px;
    font-weight: 700;
}
h2{
    font-family: 'Dancing Script', cursive;
    font-size: 72px;
    line-height: 72px;
    font-weight: 700;
}
h3{
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    text-transform: uppercase;
}
h5{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height:100%;
}
.content{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto; 
}

// HEADLINE ANIMATION
%title-animation{
path{
	stroke:#f9f9f9;
	fill: #194052;
	stroke-dasharray: 2000;
	opacity: 10;
	animation: animate 4s cubic-bezier(0,0.23,1,.1); 
}
@keyframes animate{
	0% {
		opacity: 0;
		fill: none;
		stroke-dashoffset: 2000;
	}
	30%{
		opacity: 10;
		fill: none;
		stroke-dashoffset: 2000;
	}
	80% {
		fill: #194052;
	}
	100% {
		opacity: 10;
		fill: #194052;
		stroke-dashoffset: 0;
	}
}
}