@import 'vars';
@import 'global';
@import 'fonts';

.header__top{
    padding: 10px 0;
    color: #f4f4f4;
    // background-color: rgb(34, 34, 34);
    background-color: #194052;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.07em;
    &-inner{
        position: relative;
    }
    &-slider{
        margin: 0 auto;
        text-align: center;
        width: 100%;
        max-width: none;
    }
    &-location{
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 20px;
        z-index: 9;
        a{
            &:before{
                content: url(../images/icons/location.svg);
                width: 16px;
                height: 16px;
                position: absolute;
                top: 2px;
                left: 0;
                transition: all .3s ease;
            }
            span{
                cursor: pointer;
            }
        }
    }
}
.header__top{
    .slick-slider{
        .slick-prev, .slick-next{
            display: none!important;
            
        }
    }
}
.header__main{
    &-content{
        margin: 150px 0 100px;
    }
    .container{
        position: relative;
    }
    .menu__btn{
        display: none;
    }   
    &-logo{
        display: block;
        text-align: center;
        .header__main-title{
            color: #fd4f57;
            width: 250px;
            margin: 0 auto;
            margin-bottom: 25px;
        }
        .header__main-subtitle{
            display: inline-block;
            color: rgb(7, 110, 158);
            font-family: 'Dancing Script', cursive;
            font-size: 26px;
            line-height: 28px;
            letter-spacing: 0.07em;
            font-weight: 700;
            border-bottom: 1px dotted $star-bord;
        }
    }
    .header__top-social {
        text-align: center;
        a {
            color: #f4f4f4;
            font-family: 'FiraSans-ExtraBold', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            background-color: #ff8100;
            letter-spacing: 0.2em;
            border-radius: 3px;
            width: 435px;
            max-width: 100%;
            top: 23%;
            position: fixed;
            right: 17%;
            left: auto;
            bottom: auto;
            display: inline-block;
            transform: translate3d(50%,0,0) rotate(90deg);
            z-index: 1;
            span {
                text-transform: none;
                color: #333;
            }
        }
    } 
    .menu{
        &__list{
            display: flex;
            justify-content: space-around;
            padding-bottom: 30px;
            // margin-top: 10px;
            margin: 0 auto;
            li > a{
                text-transform: uppercase;
                font-weight: 500;
                color: #333;
                font-size: 12px;
                letter-spacing: .267em;
                line-height: 2.6em;
                transition: opacity .5s ease-in-out,color .5s ease-in-out;
                margin-right: 100px;
                &:hover {
                    color: $color-decor;
                    font-weight: 600;
                    opacity: 1;
                    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1);
                }
            }
        }
    }
}

// slogan section
.slogan{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    min-height: 40vh;
    position: relative;
    &-title{
        @extend %title-animation;
        width: 58%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
// bio section start
.bio{
    background: url(../images/content/stars-bg2.svg) no-repeat top center / cover;
    padding: 160px 0 100px;
    .heading{
        @extend %heading;
    }
    &-flex{
        justify-content: space-around;
    }  
    &-content {
        max-width: 590px;
        color: #333;
        margin-top: 25px;
        font-weight: 300;
        h5{
            margin-bottom: 30px;
            letter-spacing: 0.03em;
            line-height: 30px;
        }
        p{
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.03em;
        }
    }
    &-link {
        margin: 50px 0 0;
        a {
            @extend %button;
        }
    }
}
// bio section end
// works section start
.works{
    padding-top: 60px;
    .heading{
        @extend %heading;
    }
}
.works-slider{
    padding: 120px 0px 100px;
    position: relative;
    z-index: 2;
    // .works__btn-box > a > img{
    //    display: none;
    // }
    .slick-slide{
        .works-slider__overlay{
            &:hover{
                transition: all .5s ease;
                background-color: rgba(238, 0, 0, 0.39);
                // .works__btn-box > a > img {
                //     position: absolute;
                //     display: block;
                //     top: 47%;
                //     left: 47%;
                // }
            }
        }
        &:nth-child(4n + 1){
            .surf-slider__box{
                margin-top: 32px;
            }
        }
        &:nth-child(4n + 2){
            .works-slider__box{
                margin-top: 58px;
            }
        }
        &:nth-child(4n + 3){
            .works-slider__box{
                margin-top: 89px;
            }
        }
        &:nth-child(4n + 4){
            .works-slider__box{
                margin-top: 35px;
            }
        }
    }
    .slider-arrow{
        position: absolute;
        top: -3%;
        &__left{
            left: 70%;
        }
        &__right{
            left: 74%;
        }
    }
    &__box{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 500px;
        z-index: 12;
        &:focus{
            box-shadow: none;
            outline: none;
        }
    }
    &__overlay{
        min-height: 500px;
        display: flex;
        position: relative;
    }
    .slick-current{
        .works-slider__overlay {
            &:hover{
                transition: all .5s ease;
                background-color: rgba(238, 0, 0, 0.85);
            }
        }
        .works__btn-box{
            display: block;
        }
    }
    
    .slick-arrow{
        padding: 12px;
        border: 1px solid #333;
        &:hover{
            background-color: rgb(243, 243, 242);
            transition: all 0.5s ease-in-out;
            transform: scale(0.97);
        }
    }
}
.works-slider__overlay{
    color: $title-slide;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    .slider__overlay{
        &-title{
            color: #fff;
            line-height: 32px;
            max-width: 60%;
            margin-left: 40px;
            margin-top: 30px;
        }
        &-location{
            line-height: 22px;
            font-size: 14px;
            letter-spacing: 8px;
            font-weight: 500;
            transform: rotate(-90deg);
            position: absolute;
            bottom: 3%;
            width: 0;
            height: 0;
            white-space: nowrap;
            margin-left: 40px;
            span{
                font-weight: 100;
            }
        }
    }
}
  
// works section end
// start studio section
.studio{
    padding: 60px 0 160px;
    .heading{
        margin-bottom: 110px;
        font-family: 'FiraSans-ExtraBold', sans-serif;
        font-weight: 500;
        @extend %heading;
        h3:after{
            content: '-->';
            left: 35%;
        }
    }
    &__wrapper-content{
        max-width: 590px; 
        padding-left: 125px;
        p, span{
            color: #333;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.03em;
            display: inline-block;
            font-weight: 300;
        }
        span{
            margin-bottom: 20px;
        }
        img{
            float: right;
            margin-top: -25px;
        }
    }
    &__wrapper-txt{
        margin-bottom: 130px;
        padding-left: 0;
    }
    &__inner{
        max-width: 626px;
        width: 100%;
        margin-top: 50px;
        &-title{
            font-family: 'Dancing Script', cursive;
            line-height: 45px;
            text-transform: none;
            margin-bottom: 25px;
        }
    }
    &__map{
        padding: 23px 10px 63px;
        border: 1px solid #f4f4f4;
        box-shadow: 0 1px 6px rgba(57,73,76,0.15);
        display: inline-block;
        margin-left: -90px;
    }
    &__links{
        color: #333;
        max-width: 400px;
        &-title{
            font-family: 'Dancing Script', cursive;
            text-transform: lowercase;
        }
        ul {
            #fb::before {
                @extend %point;
                background: #3b5998;
            }
            #ig::before {
                @extend %point;
                background: rgb(128, 0, 128);
            }
            #yt::before {
                @extend %point;
                background: $color-decor;
            }
            li {
                a{
                color: #333;
                margin-left: 0px;
                font-family: 'FiraSans-ExtraBold', sans-serif;
                font-style: italic;
                font-size: 20px;
                font-weight: 300;
                }
            } 
        }
    }
}
// end studio section
// start contact section
.contact{
    position: relative;
    padding: 60px 0 160px;
    &__box{
        align-items: flex-start;
    }
    ul{
        margin-left: 120px;
        li{
            display: block;
            margin-bottom: 45px;
            position: relative;
            .contact__info-content{
                font-size: 24px;
                font-weight: 300;
                color: #3b5998;
                transition: opacity .5s ease-in-out,color .5s ease-in-out;
                &:hover {
                    color: $color-decor;
                    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1);
                }
            }
            .info-tel{
                padding-left: 45px;
            }
            .info-mail{
                padding-left: 15px;
            }
        }
    }
    @keyframes rota {
        25% { transform: rotate(360deg); }
       }
        
       .tel-popup{
            animation: rota 5s infinite reverse;
            animation-iteration-count: infinite;
            position: absolute;
            top: -5px;
        }
    .form {
        animation-duration: 8s;
        animation-fill-mode: both;
        animation-name: form;
        background: #f4f4f4;
        height: 300px;
        padding: 20px 0;
        width: 60%;
        position: absolute;
        top: 0;
        right: 0;
        color: #f4f4f4;
        input, textarea{
            overflow: hidden;
            border: none;
            border-bottom: 1px solid #fff;
            font-size: 18px;
            font-family: 'Lato', sans-serif;
            background: #f4f4f4;
            margin-left: 90px;
            height: 75px;
            width: 39%;
            padding: 37px 0 17px;
            color: #333;
            font-weight: 300;
            &::placeholder{
                color: #333;
                font-weight: 300;
            }
        }
        textarea{
            width:85.5%;
            margin-bottom: 33px;
        }
        button{
            @extend %button;
            border: 1px solid #fff;
            font-size: 18px;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            margin-left: 90px;
            background: #fff;
            padding: 18px 36px;
            align-items: center;
            display: block;
            &:hover{
                background-color: rgb(243, 243, 242);
            }
        }
        svg{
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}
@keyframes form {
    from{
        opacity: 0;
        transform: translateX(2000px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.line-animation{
    margin-top: -5px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    &--1{
        animation: animdash 10s infinite 5s;
    }
    // &--2{
    //     animation: animdash 12s infinite 17s;
    // }
    // &--3{
    //     animation: animdash 15s infinite 20s;
    // }
    // &--4{
    //     animation: animdash 18s infinite 24s;
    // }
}
@keyframes animdash{
    to{
        stroke-dashoffset: 600;
    }
}
// end contact section
// start footer
.footer{
    padding: 30px 0;
    z-index: -1;
    &__credits > a{
        font-size: 12px;
        color: #333;
        span{
            color: $star-bord;
            text-decoration: underline;
        }
    }
}
// end footer
@import 'media';